# Contact form email delivery
SENDLAYER_API_KEY=
SENDLAYER_FROM_EMAIL=info@drsfirst.com
SENDLAYER_FROM_NAME=First Medical Associates
SENDLAYER_TO_EMAILS=info@DrsFirst.com,citryn.contactforms@gmail.com
CONTACT_FORM_VENDOR_REVIEWED=false
